
#pimage{
  max-width: auto;max-height: 70px;margin-top: 4px;
}

.icons{
    font-size:20px;
    color:aliceblue;
    }
    .headdiv{
      border-radius:2px;
      padding-top:2px;
      padding-bottom:2px;
      
      
    
    }
    td{
      padding:1px;
      padding-left: 10px;
     
      }
      .norm{
        padding-bottom:10px;
        padding-left: 10px;
        
      }
    
    .table{
      margin:0px;
      border-collapse: collapse;
      
      
      
    }
    
    .headercoll{
      font-family:sans-serif;
      font-weight:400;
      font-size:17px;
      letter-spacing:.1em;
      color:#cbcfc6;
      cursor: pointer;
      margin:0px;
      padding-left: 10px;
      
    }
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      
    